{{#if newCountry}}
  <form id="formCountry" action="/pais/cadastrar" method="post">
{{else}}
  <form id="formCountry" action="/pais/atualizar" method="post">
{{/if}}
  <input type="hidden" name="_id" id="_id" value="{{country._id}}">
  <fieldset>
    <legend>
      {{#if newCountry}}
        <h4 class="heading">Cadastrar País</h4>
      {{else}}
        <h4 class="heading">Atualizar País</h4>
      {{/if}}
    </legend>
    <span style="display: none;" id="mainAlert" class="alert alert-red" role="alert">{{ message }}</span>
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" name="name" id="name" placeholder="Nome" value="{{country.name}}">
    </div>
    <div class="form-actions">
      {{#if newCountry}}
        <button class="btn btn-green btn-small" name="btnsubmit" onclick="document.getElementById('formCountry').submit()" >Cadastrar</button>
      {{else}}
        <button class="btn btn-green btn-small" name="btnsubmit" onclick="document.getElementById('formCountry').submit()" >Atualizar</button>
      {{/if}}
      <a class="btn btn-red btn-small" href="/pais">Cancelar</a>
    </div>
  </fieldset>
</form>
