<div>
  {{message}}
</div>
{{#if newUser }}
  <form action="/usuario/cadastrar" method="post">
{{else}}
  <form action="/usuario/atualizar" method="post">
{{/if}}
  <div>
    <input type="hidden" name="_id" id="_id" value="{{user._id}}">
  </div>
  <div>
    Nome:
    <input type="text" name="name" id="name" value="{{user.name}}">
  </div>
  <div>
    Email:
    <input type="text" name="email" id="email" value={{user.email}}>
  </div>
  <div>
    Usuário:
    <input type="text" name="username" id="username" value={{user.username}}>
  </div>
  {{#if newUser }}
  <div>
    Senha:
    <input type="password" name="password" id="password" value={{user.password}}>
    Confirmar senha:
    <input type="password" name="confirmpassword" id="confirmpassword">
  </div>
  {{/if}}
  <div>
    <input type="submit" name="btnsubmit" value="{{ btnValue }}">
    <br>
    <a href="/usuario">Lista de usuários</a>
  </div>
</form>
