<div>
  {{message}}
</div>
{{#if newUser }}
  <form action="/user/register" method="post">
{{else}}
  <form action="/user/update" method="post">
{{/if}}
  <div>
    <input type="text" name="_id" id="_id" value="{{user._id}}">
  </div>
  <div>
    Nome:
    <input type="text" name="name" id="name" value={{user.name}}>
  </div>
  <div>
    Email:
    <input type="text" name="email" id="email" value={{user.email}}>
  </div>
  <div>
    Usuário:
    <input type="text" name="username" id="username" value={{user.username}}>
  </div>
  <div>
    Senha:
    <input type="password" name="password" id="password" value={{user.password}}>
    Confirmar senha:
    <input type="password" name="confirmpassword" id="confirmpassword">
  </div>
  <div>
    <input type="submit" name="Cadastrar" value="Cadasstrar">
  </div>
</form>
