users list
{{ message }}
<br>
{{#if success}}
  {{#each users}}
    {{ this.name }} - {{ this.email }} - {{ this.username }} | 
      <a href="/usuario/atualizar/{{this._id}}">atualizar</a>&nbsp;
      <a href="/usuario/excluir/{{this._id}}">Deletar</a>
    <br>
  {{/each}}
{{/if}}
<a href="/usuario/cadastrar">Cadastrar novo usuário</a>
